# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = client['uk_food']

In [6]:
# review the collections in our database
collections = db.list_collection_names()
pprint(collections)

['establishments']

In [7]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygeine": 20}

# Use count_documents to display the number of documents in the result
num_documents = db.establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20: {num_documents}")

# Display the first document in the results using pprint
first_document = db.establishments.find_one(query)
print("First document with a hygiene score of 20:")
pprint(first_document)

Number of establishments with a hygiene score of 20: 0
First document with a hygiene score of 20:
None

In [9]:
# Convert the result to a Pandas DataFrame
results = list(db.establishments.find(query))
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [10]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    "LocalAuthorityName": "London",
    "RatingValue": {"$gte": 4}
}

# Use count_documents to display the number of documents in the result
num_documents = db.establishments.count_documents(query)
print(f"Number of establishments in London with a RatingValue >= 4: {num_documents}")

# Display the first document in the results using pprint
first_document = db.establishments.find_one(query)
print("First document in London with a RatingValue >= 4:")
pprint(first_document)

Number of establishments in London with a RatingValue >= 4: 0
First document in London with a RatingValue >= 4:
None

In [11]:
# Convert the result to a Pandas DataFrame
results = list(db.establishments.find(query))
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [12]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.083812
longitude = 1.195625

query = {
    "RatingValue": 5,
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search}
}
sort = results = list(db.establishments.find(query).sort("scores.Hygiene", 1).limit(5))

# Print the results
print("Top 5 establishments with a RatingValue of 5, sorted by lowest hygiene score, within 0.01 degrees of the specified location:")
for result in results:
    pprint(result)

Top 5 establishments with a RatingValue of 5, sorted by lowest hygiene score, within 0.01 degrees of the specified location:
{'AddressLine1': 'Folkestone Harbour',
 'AddressLine2': 'Harbour Approach Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'Little Rock',
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4591.914705329384,
 'FHRSID': 1423242,
 'LocalAuthorityBusinessID': 'PI/000078141',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': '',
 'RatingDate': '2022-04-14T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66a7e32b3be2335ce71d16b2'),
 'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1423242',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}
{'AddressLine1': '42 North Street',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'The Lifeboat',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4592.005041613854,
 'FHRSID': 511409,
 'LocalAuthorityBusinessID': 'PI/000039931',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AF',
 'RatingDate': '2020-07-22T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66a7e32b3be2335ce71d16e3'),
 'geocode': {'latitude': 51.081546, 'longitude': 1.186715},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/511409',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}
{'AddressLine1': '16 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Mariner',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 289560,
 'LocalAuthorityBusinessID': 'PI/000039927',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2019-03-19T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66a7e32b3be2335ce71d16a8'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289560',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}
{'AddressLine1': '1 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Folkestone Trawlers Shop',
 'BusinessType': 'Retailers - other',
 'BusinessTypeID': 4613,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 344689,
 'LocalAuthorityBusinessID': 'PI/000002095',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2020-02-14T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66a7e32b3be2335ce71d16aa'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/344689',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}
{'AddressLine1': 'Folkestone Harbour',
 'AddressLine2': 'Harbour Approach Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Club Hut',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.914705329384,
 'FHRSID': 1071930,
 'LocalAuthorityBusinessID': 'PI/000076531',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': '',
 'RatingDate': '2018-08-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66a7e32b3be2335ce71d16af'),
 'geocode': {'latitude': 51.0783519967076, 'longitude': 1.18590330311705},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1071930',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}

In [13]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(results)
print(df)

                        _id   FHRSID  ChangesByServerID  \
0  66a7e32b3be2335ce71d16b2  1423242                  0
1  66a7e32b3be2335ce71d16e3   511409                  0
2  66a7e32b3be2335ce71d16a8   289560                  0
3  66a7e32b3be2335ce71d16aa   344689                  0
4  66a7e32b3be2335ce71d16af  1071930                  0

  LocalAuthorityBusinessID              BusinessName             BusinessType  \
0             PI/000078141               Little Rock  Other catering premises
1             PI/000039931              The Lifeboat        Pub/bar/nightclub
2             PI/000039927                   Mariner        Pub/bar/nightclub
3             PI/000002095  Folkestone Trawlers Shop        Retailers - other
4             PI/000076531              The Club Hut        Pub/bar/nightclub

   BusinessTypeID        AddressLine1           AddressLine2 AddressLine3  \
0            7841  Folkestone Harbour  Harbour Approach Road   Folkestone
1            7843     42 North Street             Folkestone         Kent
2            7843        16 The Stade             Folkestone         Kent
3            4613         1 The Stade             Folkestone         Kent
4            7843  Folkestone Harbour  Harbour Approach Road   Folkestone

   ...               LocalAuthorityWebSite        LocalAuthorityEmailAddress  \
0  ...  http://www.folkestone-hythe.gov.uk  foodteam@folkestone-hythe.gov.uk
1  ...  http://www.folkestone-hythe.gov.uk  foodteam@folkestone-hythe.gov.uk
2  ...  http://www.folkestone-hythe.gov.uk  foodteam@folkestone-hythe.gov.uk
3  ...  http://www.folkestone-hythe.gov.uk  foodteam@folkestone-hythe.gov.uk
4  ...  http://www.folkestone-hythe.gov.uk  foodteam@folkestone-hythe.gov.uk

                                              scores  SchemeType  \
0  {'Hygiene': None, 'Structural': None, 'Confide...        FHRS
1  {'Hygiene': None, 'Structural': None, 'Confide...        FHRS
2  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...        FHRS
3  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...        FHRS
4  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...        FHRS

                                             geocode RightToReply  \
0  {'longitude': 1.18590330311705, 'latitude': 51...
1     {'longitude': 1.186715, 'latitude': 51.081546}
2      {'longitude': 1.188537, 'latitude': 51.08084}
3      {'longitude': 1.188537, 'latitude': 51.08084}
4  {'longitude': 1.18590330311705, 'latitude': 51...

      Distance NewRatingPending  \
0  4591.914705            False
1  4592.005042            False
2  4591.912145            False
3  4591.912145            False
4  4591.914705            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links
0  [{'rel': 'self', 'href': 'https://api.ratings....
1  [{'rel': 'self', 'href': 'https://api.ratings....
2  [{'rel': 'self', 'href': 'https://api.ratings....
3  [{'rel': 'self', 'href': 'https://api.ratings....
4  [{'rel': 'self', 'href': 'https://api.ratings....

[5 rows x 28 columns]

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [14]:
# Create a pipeline that:
pipeline = [
# 1. Matches establishments with a hygiene score of 0
{"$match": {"scores.Hygiene": 0}},

# 2. Groups the matches by Local Authority
{"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},

# 3. Sorts the matches from highest to lowest
{"$sort": {"count": -1}}
]

# Aggregation pipeline 
results = list(db.establishments.aggregate(pipeline)) 

# Print the number of documents in the result
print(f"Number of documents in the result: {len(results)}")

# Print the first 10 results
print("First 10 results:")
pprint(results[:10])

Number of documents in the result: 55
First 10 results:
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [15]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 55
First 10 rows of the DataFrame:
               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542